.mainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.starComp {
  display: flex;
  padding: 10px;
  cursor: pointer;
}
.starss {
  font-size: 40px;
  margin-right: 10px;
}
.textarea {
  margin: 30px;
  padding: 10px;
  width: 300px;
  /* margin: 100px; */
}
