* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body {
  font-family: "Arial", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
}

.menu-toggle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 25px;
  cursor: pointer;
}

.bar {
  height: 4px;
  width: 100%;
  background-color: white;
  transition: 0.3s;
}

.nav-links {
  display: flex;
  list-style: none;
  margin-right: 20px;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

/* Hamburger menu open animation */
.open {
  background-color: red;
}

/* Mobile Styles */
@media screen and (max-width: 768px) {
  .nav-links {
    position: absolute;
    right: 0;
    height: 100vh;
    top: 0;
    background-color: #333;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
  }

  .nav-links.open {
    transform: translateX(0%);
  }

  .nav-links li {
    margin: 20px 0;
  }
}
