* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
}

.menu-toggle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 25px;
  cursor: pointer;
}

.bar {
  height: 4px;
  background-color: white;
}

.nav-links {
  display: flex;
  list-style: none;
  overflow: scroll;
  /* min-height: fit-content; */
}

.nav-links li {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: fit-content;
  height: 50px;
}

.nav-links a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 20px;
  padding: 10px;
  min-width: fit-content;
}
.dropDown {
  background: #333;
  color: white;
  font-size: 18px;
  border: none;
}

/* Hamburger menu open animation */
/* Mobile Styles */
@media screen and (max-width: 768px) {
  .nav-links {
    position: absolute;
    right: 0;
    /* height: 100vh; */
    top: 0;
    background-color: #333;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
  }

  .nav-links.open {
    transform: translateX(0%);
  }

  .nav-links li {
    margin: 4px 0;
  }
}
