.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.grey {
  height: 20px;
  width: 20px;
  background-color: grey;
  margin: 10px;
}
.red {
  background-color: red;
}
.yellow {
  background-color: yellow;
}
.green {
  background-color: green;
}
